body {
    font-size: x-large;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.bandeau,
.bandeauprojet {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 999;
}

.bandeau a,
.bandeauprojet a {
    padding: 10px 0px 10px 0px;
    border-bottom: 5px solid black;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bandeau a:hover,
.bandeauprojet a:hover {
    border-bottom: 5px solid blue;
}

/* -------------------------------------------- */
/* ----------------- home page ---------------- */
/* -------------------------------------------- */

.containerprincipal,
.containerprojet {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.me,
.info {
    display: flex;
    flex-direction: column;
}

.me {
    width: 25%;
    margin-right: 60px;
}

.me a,
.me img,
.me div {
    text-align: center;
}

.me h1 {
    text-align: center;
    margin: 0px;
}

.mail {
    background-color: rgb(3, 3, 185);
    border: 5px solid rgb(3, 3, 185);
    border-radius: 15px;
    cursor: pointer;
    word-break: break-all;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.divlink {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 5px 0px 0px 0px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cv {
    margin: 0px 8px 8px 8px;
}

.link img {
    height: 100%;
}

.info {
    width: 75%;
    margin-bottom: 200px;
    margin-top: 75px;
}

.presentation {
    border: 2px solid gray;
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
}

.presentation h2 {
    border-bottom: 1px solid gray;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.stack>div,
.stack a {
    margin: 0px 10px 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 15px;
}

.stack img {
    height: 50px;
}

.experiences,
.svgexperience,
.svgexperience svg {
    width: 100%;
}

.svgexperience {
    position: relative;
}

.listexperience {
    width: 90%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -30px;
}

.infoexperience {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}

.infoexperience a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.infoexperience img {
    height: 20px;
}

.titleexperience {
    font-weight: bold;
}

.projets h2,
.experiences h2 {
    margin-top: 80px;
}

.projet {
    width: 100%;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
}

.descriptionprojet {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.descriptionprojet h4 {
    margin-bottom: 0px;
}

.visiteprojet {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visiteprojet a {
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(3, 3, 185);
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.descriptionprojet p {
    font-size: medium;
}

.copyright {
    font-size: medium;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

@media (max-width: 850px) {
    .containerprincipal {
        flex-direction: column;
    }

    .me,
    .info {
        width: 90%;
    }

    .me {
        margin-bottom: 25px;
    }

    .info {
        margin-top: 5px;
    }
}

/* -------------------------------------------- */
/* ------------------ projet ------------------ */
/* -------------------------------------------- */
.bandeauprojet {
    justify-content: start;
    padding-left: 30px;
}

.infoprojet {
    width: 90%;
    margin-bottom: 200px;
    margin-top: 10px;
}

.stack a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.center-image {
    position: relative;
}

.center-image img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.center-image img.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    cursor: zoom-out;
    z-index: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 64px;
    cursor: pointer;
    color: blue;
    z-index: 2;

}

#prevBtn {
    left: 15%;
}

#nextBtn {
    right: 15%;
}