<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="linkcss" rel="stylesheet" href="public/static/style.css" type="text/css">
    <link rel="icon" type="image/png" href="./public/img/favicon.png">
    <title>OLIVIER Fabien - portfolio</title>
</head>

<body>
    <div class="blackimg"></div>
    <div id="top"></div>
    <!-- Menu ancre -->
    <div class="bandeauprojet">
        <a href="/">&#x2B05; Retour</a>
    </div>

    <div class="containerprojet">
        <div class="infoprojet">
            <div class="presentation">
                <h2>DEMANDE CLIENT</h2>
                <p>
                    Crée une application pour gagner du temps lors de la préparation des Guildes versus Guildes pour le
                    jeu Conqueror's Blade
                </p>
                <h2>SOLUTION PROPOSÉ</h2>
                <p>
                    Deux applications ayant une base de données commune</br>
                    Un bot Discord permettant de collecter les inscriptions des utilisateurs et un site internet avec
                    deux types d'accès dépendant du rôle Discord.</br>
                    • Un accès membres permettant aux utilisateurs de renseigner leurs informations</br>
                    • Un accès privilège élevé permettant aux préparateurs d'administrer les informations demandées aux
                    utilisateurs ainsi que de créer et d'optimiser les groupes avec les informations renseignées par les
                    utilisateurs.
                </p>
            </div>

            <div>
                <h2>LIEN</h2>
                <div class="stack">
                    <a href="https://github.com/F-OLIVIER/Javascript/tree/main/Site%20web%20(version%201)%20%2B%20bot%20discord%20(version%203)"
                        target="_blank">
                        <img src="./public/img/home/logo-github.png" />
                        <div>&nbsp;Repo Github du projet</div>
                    </a>
                </div>
            </div>

            <div>
                <h2>GALERIE D'IMAGE DU PROJET</h2>
                <div class="gallery">
                    <button id="prevBtn">&lt;</button>
                    <div class="center-image">
                        <img src="public/img/projet1/data.png" alt="Image 1">
                    </div>
                    <button id="nextBtn">&gt;</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2024 - OLIVIER Fabien
        </div>

</body>

<script type="module" src="./public/js/projet1.js"></script>

</html>