<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="linkcss" rel="stylesheet" href="public/static/style.css" type="text/css">
    <link rel="icon" type="image/png" href="./public/img/favicon.png">
    <title>OLIVIER Fabien - portfolio</title>
</head>

<body>
    <div class="bandeauprojet">
        <a href="/">&#x2B05; Retour</a>
    </div>

    <div class="containerprojet">
        <div class="infoprojet">
            <div class="presentation">
                <h2>DEMANDE CLIENT</h2>
                <p>
                    Ce projet a été réalisé dans le cadre de ma formation. Le but a été de recréer un réseau social
                    tels que Facebook ou Linkedin.</p>
                <h2>SOLUTION PROPOSÉ</h2>
                <p>
                    Le projet est réalisé en Next.js et intègre les fonctionnalités suivantes :

                    <li>Un système de migration de la base de données SQL</li>
                    <li>Création est gestion de post</li>
                    <li>Gestion de groupes de discussion</li>
                    <li>Gestion de suivi (follow)</li>
                    <li>Gestion d'affichage des post en fonction du type de profil</li>
                    <li>Gestion d'événement via des groupes</li>
                    <li>Gestion des notifications (en ligne et hors ligne)</li>
                </p>
            </div>

            <div>
                <h2>LIEN</h2>
                <div class="stack">
                    <a href="https://ytrack.learn.ynov.com/git/root/public/src/branch/master/subjects/social-network"
                        target="_blank">
                        <img src="./public/img/projet2/sujet.png" />
                        <div>&nbsp;Sujet de l'exercice</div>
                    </a>
                    <a href="" target="_blank">
                        <img src="./public/img/home/logo-github.png" />
                        <div>&nbsp;Repo Github du projet</div>
                    </a>
                </div>
            </div>

            <div>
                <h2>GALERIE D'IMAGE DU PROJET</h2>
                <div class="gallery">
                    <button id="prevBtn">&lt;</button>
                    <div class="center-image">
                        <img src="public/img/projet2/rien.jpg" alt="Image 1">
                    </div>
                    <button id="nextBtn">&gt;</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2024 - OLIVIER Fabien
        </div>

</body>

<script type="module" src="./public/js/projet2.js"></script>

</html>