<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="linkcss" rel="stylesheet" href="public/static/style.css" type="text/css">
    <link rel="icon" type="image/png" href="./public/img/favicon.png">
    <title>OLIVIER Fabien - portfolio</title>
</head>

<body>
    <div class="blackimg"></div>
    <div id="top"></div>
    <!-- Menu ancre -->
    <div class="bandeauprojet">
        <a href="/">&#x2B05; Retour</a>
    </div>

    <div class="containerprojet">
        <div class="infoprojet">
            <div class="presentation">
                <h2>DEMANDE CLIENT</h2>
                <p>
                    Crée une application pour simplifier et gagner du temps lors de la préparation des combats de Guildes pour le jeu Conqueror's Blade
                </p>
                <h2>SOLUTION PROPOSÉ</h2>
                <p>
                    Un système de gestion multi-plateforme composé de 3 applications ayant une base de données commune :</br>
                    • Un bot Discord permettant de collecter les inscriptions des utilisateurs</br>
                    • Un site internet avec deux types d'accès dépendant du rôle Discord</br>
                    • Une application mobile permettant au utilisateur de renseigner leurs informations</br>
                    </br>
                    Le bot Discord ainsi que le site internet disposent de deux types d'accès :</br>
                    • Un accès membre permettant aux utilisateurs de renseigner leurs informations.</br>
                    • Un accès gestionnaire permettant aux préparateurs d'administrer les informations demandées aux
                    utilisateurs ainsi que de créer et d'optimiser les groupes avec les informations renseignées par les
                    utilisateurs.
                    </br></br>
                    Deux langues sont actuellement prisent en charge, le Français et l'anglais.</br>
                    Le système est déployé sur un serveur PulseHeberg avec un nom de domaine associé.</br>
                    Voici la page du site internet qui explique le projet aux potentiels utilisateurs : <a href="https://easymanagementtw.fr/description" target="_blank">https://easymanagementtw.fr/description</a>
                </p>
            </div>

            <div>
                <h2>LIEN</h2>
                <div class="stack">
                    <a href="https://github.com/F-OLIVIER/CB_Easy_Management_TW"
                        target="_blank">
                        <img src="./public/img/home/logo-github.png" />
                        <div>&nbsp;Repo Github du projet</div>
                    </a>
                    <a href="https://easymanagementtw.fr"
                        target="_blank">
                        <img src="./public/img/projet1/Logo_EMTW.webp" />
                        <div>&nbsp;Adresse du site internet</div>
                    </a>
                </div>
            </div>

            <div>
                <h2>GALERIE D'IMAGE DU PROJET</h2>
                <div class="gallery">
                    <button id="prevBtn">&lt;</button>
                    <div class="center-image">
                        <img src="public/img/projet1/Schema_architecture.png" alt="Image 1">
                    </div>
                    <button id="nextBtn">&gt;</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright © 2025 - OLIVIER Fabien
        </div>

</body>

<script type="module" src="./public/js/projet1.js"></script>

</html>
